<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login de Administrador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Seja bem-vindo!</p>

                <form method="post" asp-action="Login">
                    <label for="username">Nome de usuário:</label>
                    <input type="text" id="username" name="username" required>

                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>

                    <button type="submit">Login</button>
                </form>

                <a href="#" class="btn btn-secondary" data-dismiss="modal">Continuar como convidado</a>
            </div>
        </div>
    </div>
</div>